* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.bg.one {
    background-color: rgb(245, 249, 253);
    border-bottom: 1px solid black;
}

.bg.two {
    background-color: white;
}

.bg.three {
    background: url(img/jumbotron.png);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg.four {
    background-color: rgb(245, 249, 253);
}

.bg.five {
    background-image: linear-gradient(to right, rgb(75, 168, 182) , rgb(82, 182, 169))
}

.container.five {
    background-color: white;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
}

.logo {
    vertical-align: middle;
}

.image {
    margin-top: 50px;
}

.container {
    width: 1024px;
    margin: auto;
}

.container.one,
.container.two {
    vertical-align: middle;
    line-height: 80px;
    color: grey;
}

.container.four{
    text-align: center;
}

.cube {
    padding-top: 30px;
    width:40%;
}

.woman-center {
    text-align: middle;
}

.subtitle {
    font-size: 30px;
    color: rgb(55, 71, 89);
    margin-bottom: 20px;
}

.subtitle-start {
    font-size: 30px;
    color: rgb(55, 71, 89);
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.subtitle.collab {
    font-size: 15px;
    width: 80%;
    display: inline-block;
    padding-left: 50px;
}

.bold {
    font-weight: bold;
}

.subtitle.one {
    margin-top: 20px;
    font-size: 25px;
}

.subtitle.hub {
    font-size: 20px;
}

.title {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(55, 71, 89);
}

.text-align {
    text-align: center;
}

.title.award {
    font-size: 30px;
    color: white;
    padding: 10px;
    padding-top: 40px;
}

.container.seven {
    text-align: center;
}

.paragraph {
    margin-bottom: 20px;
    color: grey;
}

.paragraph.two {
    color: rgb(125, 134, 147);
}

.paragraph.award {
    color: white;
    margin-bottom: 50px;
}

.left-one {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
}

.right-one {
    border-bottom: 1px solid white;
    padding: 10px;
}

.left-two {
    border-right: 1px solid white;
    padding: 10px;
}

.right-two {
    padding: 10px;
}

.titleone-award {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 50px;
    color: white;
}

.title-award {
    font-size: 30px;
    margin-bottom: 5px;
    padding-top: 10px;
    color: white;
}

.text-award {
    font-size: 10px;
    color: white;
}

.hr {
    border: 1px solid black;
    width: 50%;
    display: inline-block;
    margin-left: 40px;
}

.hr.hub {
    margin: 20px;
    width: 90%;
}

.caps {
    color: rgb(55, 71, 89);
    font-size: 18px;
    text-transform: uppercase;
}

.circle {
    background: orange;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
}

.image-hub {
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container.six {
    text-align: center;
}

.column.col-30.hub {
    background-color: white;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.column.col-5.space {
    height: 20px;
}

.feature-list {
    margin-top: 20px;
    padding-bottom: 20px;
}

.list.hub {
    list-style: none;
    text-align: left;
    margin-left: 10px;
}

.image-hub.bag {
    width: 55%;
}

.bg.five {
    height: 500px;
}

.paragraph-one {
    color: rgb(108, 134, 139);
    margin-bottom: 40px;
}

.paragraph-start {
    color: rgb(108, 134, 139);
    padding-bottom: 20px;
    width: 95%;
}

.small {
    font-size: 10px;
    padding-top: 20px;
}

.white {
    color: black;
    text-decoration: none;
}

#book {
    width: 50%;
    margin-bottom: 20px;
}

.paragraph.one {
    margin-top: 20px;
    font-size: 10px;
}

.list.hub {
    display: block;
    margin-bottom: 50px;
    margin-top: 30px;
}

.vr {
    border-left: 0.5px solid grey;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin:10px;
}

.column {
    float: left;
}

.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.text-right {
    text-align: right;
}

.columm .col-80 {
    text-align: center;
}

.list {
    display: inline-block;
    margin-right: 5px;
}

#woman {
    width: 50%;
    text-align: right;
}

.logo-collab {
    width: 20%;
    padding: 15px;
}

.column.col-70.collab {
    padding-left: 80px;
    padding-bottom: 50px;
}

.text-collab {
    padding: 20px;
    padding-left: 50px;
    font-size: 50px;
    color: rgb(55, 71, 89);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}



